
<div class='tv_guide tv' ng-controller='TVGuide_GridController' scroll-callback-tv-guide>
  <div class = 'phone-filters visible-phone hidden-tablet hidden-desktop clearfix'>
    <div class = 'filter-wrapper'>
      <span class = 'title'>Filters & Search </span>
      <button class = 'btn btn-filter' tvguide-toggle-filter>=</button>
    </div>
  </div>
  <div class = 'outer-wrapper'>
    <div class = 'inner-wrapper'>
  <nav class="top-nav clearfix" >
    
    <div class="location" tv-guide-location ng-controller="UserLocationController">

      <div class="select-operator" ng-controller = "TVGuide_OperatorsController">
        <a class="btn" id="selectOperator" tv-operator-popover>
          <span class="operator-name android-line-height-tv">TV Operator</span><span class="arrow"></span>
        </a>
      </div>
        <%#<div class="styled-select">%>
          <%#<select ng-model="operatorName" ng-change="selectOperator()" ng-options="o.operator_name for o in operators"></select>%>
        <%#</div>%>
      <span class="location-label">
        <input type="text" class="location-input" value="{{locationString}}"/>
        <span class="location-string" style="cursor: pointer">{{locationString}}</span>
      </span>
      
      <a class="location-change" style="cursor: pointer">Change</a>
    </div>

    <div class="filters" ng-controller="GenreController">
      <div class="main-nav">
        <ul>
          <li><a ng-class="{active:_currentGenre == 'all'}"  ng-click="setGenre('all')" style="cursor: pointer">All</a></li>
          <li ng-show="userLogged == 'on'"><a ng-class="{active:_currentGenre == 'favorite'}" class="btn-purple-blue" ng-click="setGenre('favorite')" style="cursor: pointer"><i class="icon-favorite"></i></a></li>
          <li><a ng-class="{active:_currentGenre == 'entertainment'}" ng-click="setGenre('entertainment')" style="cursor: pointer">Entertainment</a></li>
          <li><a ng-class="{active:_currentGenre == 'sports'}" ng-click="setGenre('sports')" style="cursor: pointer">Sports</a></li>
          <li><a ng-class="{active:_currentGenre == 'kids'}" ng-click="setGenre('kids')" style="cursor: pointer">Kids</a></li>
          <li><a ng-class="{active:_currentGenre == 'lifestyle'}" ng-click="setGenre('lifestyle')" style="cursor: pointer">Lifestyle</a></li>
          <li><a ng-class="{active:_currentGenre == 'news'}" ng-click="setGenre('news')" style="cursor: pointer">News</a></li>
          <li><a ng-class="{active:_currentGenre == 'movies'}" ng-click="setGenre('movies')" style="cursor: pointer">Movies</a></li>
          <li><a ng-class="{active:_currentGenre == 'religious'}" ng-click="setGenre('religious')" style="cursor: pointer">Religious</a></li>
        </ul>
      </div>

      <div class="duedate" ng-controller="CalendarController">
        <a  ng-click="setCalendar()" tv-guide-calendar-popover>
          <span>{{selected_date.date_string}}</span> 
          <span class="day-label">{{selected_date.day_name}}</span> 
          <i class="calendar-icon" style="cursor: pointer" >{{selected_date.day_value}}</i>
        </a>
      </div>
      <div class = 'clearfix visible-phone hidden-tablet hidden-desktop'></div>
      <button class = 'btn back-btn-filter visible-phone hidden-desktop hidden-tablet' tvguide-toggle-filter> Back </button>
    </div>

  </nav>

  <%= render :partial => "tv_guide/tvguide", :locals => {:inPage => "tvGuide"} %> 
</div>
<div class="noResultsBlock" id="notEnoughFavorites" ng-show="notEnoughFavorites && tvGuideVisibleRows > 0 && phoneSidebar == 'off'">Add more <a href="#!/channels">channels</a> to your favorite list</div>
<div class="fix emptyGuideLoader" ng-hide="!loadingBelow"></div>
<div class="noResultsBlock" ng-show="( emptyResult || tvGuideVisibleRows == 0 ) && !loadingBelow && phoneSidebar == 'off'">No more channels available</div>
</div> 
</div>