<section class="clearfix main-section" ng-controller="ProfileMainController">
	<div class='content'>
		<div class="profile_item_container" ng-class="{active: profile.watchlist.isActive}" ng-show="profile.watchlist.data.length || profile.watchlist.sectionLoaded">
			<div class="profile_header_wrapper clearfix" ng-click="openTab($event, profile.watchlist)" >
				<div class="profile_item_name">WATCHLIST</div>
				<div class="view_more"><a href='#!/watchlistsocial'>View More</a></div>
			</div>
			<div class="profile_item_content clearfix">
				<ul class='profile_item_content_list clearfix'>
					<li class='list-item'  scroll-callback ng-repeat="item in profile.watchlist.data">
						<div class='thumb' css-bg-image="{{item.imagefilepath}}">
							<a class='play' ng-click="playVideo(item)" ng-show="showVideoButton(item)"></a>
							<div class="favorite-ribbon" style="" ng-show="item.isrecommended"></div>
						</div>
						<div class='text-wrapper clearfix'>
							<div class='row-one'> 
								<div multiline-overflow class='name'><a href="#!/program/{{item.programmename}}" ng-click="EncodeUrlWithDash(item.programmename,$event,'programme',item.channelid,item.programmeid)">{{item.programmename}}</a></div>
							</div>
							<div class='time'>{{item.starttime | watchlisttimeformat}}</div>
						</div>

						<div class="user-actions" ng-controller="UserController">

							<a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(item, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:item.isfavorite == '1'}">
								<i class="icon-favorite"></i>
							</a>

							<a live-tooltip="Reminder Alerts"        ng-click='toggleReminder(item, $event)'  class='btn btn-small btn-purple-blue reminder' ng-class="{active:item.isreminder == '1'}"  >
								<i class="icon-reminder"></i>
							</a>
						</div>						
					</li>
				</ul>
				<div class = 'noResultsBlock' ng-show="profile.watchlist.data.length ==0 && profile.watchlist.sectionLoaded">Add programs to your watchlist</div>
			</div>
		</div>
		<div class="profile_item_container" ng-class="{active: profile.reminders.isActive}" ng-show="profile.reminders.data.length || profile.reminders.sectionLoaded">
			<div class="profile_header_wrapper clearfix" ng-click="openTab($event, profile.reminders)" >
				<div class="profile_item_name">REMINDERS</div>
				<div class="view_more"><a href='#!/reminders'>View More</a></div>
			</div>
			<div class="profile_item_content clearfix">
				<ul class='profile_item_content_list clearfix'>
					<li class='list-item'  scroll-callback ng-repeat="item in profile.reminders.data">
						<div class='thumb' css-bg-image="{{item.imagefilepath}}">
							<a class='play' ng-click="playVideo(item)" ng-show="showVideoButton(item)"></a>
							<div class="favorite-ribbon" style="" ng-show="item.isrecommended"></div>
						</div>
						<div class='text-wrapper clearfix'>
							<div class='row-one'> 
								<div multiline-overflow class='name'><a href="#!/program/{{item.programmename}}" ng-click="EncodeUrlWithDash(item.programmename,$event,'programme',item.channelid,item.programmeid)">{{item.programmename}}</a></div>
							</div>
							<div class='time'>{{item.starttime | watchlisttimeformat}}</div>
						</div>

						<div class="user-actions" ng-controller="UserController">

							<a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(item, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:item.isfavorite == '1'}">
								<i class="icon-favorite"></i>
							</a>

							<a live-tooltip="Reminder Alerts"  ng-click='toggleReminder(item, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:item.isreminder == '1'}"  >
								<i class="icon-reminder"></i>
							</a>
						</div>						
					</li>
				</ul>
				<div class = 'noResultsBlock' ng-show="profile.reminders.data.length ==0 && profile.reminders.sectionLoaded">Set SMS/Email reminders for your favorite programs and films.</div>
			</div>
		</div>
		<div class="profile_item_container" ng-class="{active: profile.favorites.isActive}" ng-show="profile.favorites.data.length || profile.favorites.sectionLoaded">
			<div class="profile_header_wrapper clearfix" ng-click="openTab($event, profile.favorites)" >
				<div class="profile_item_name">FAVOURITE</div>
				<div class="view_more"><a href='#!/favourites'>View More</a></div>
			</div>
			<div class="profile_item_content clearfix">
				<ul class='profile_item_content_list clearfix'>
					<li class='list-item'  scroll-callback ng-repeat="item in profile.favorites.data">
						<div class='thumb' css-bg-image="{{item.imagefilepath}}">
							<a class='play' ng-click="playVideo(item)" ng-show="showVideoButton(item)"></a>
							<div class="favorite-ribbon" style="" ng-show="item.isrecommended"></div>
						</div>
						<div class='text-wrapper clearfix'>
							<div class='row-one'> 
								<div multiline-overflow class='name'><a href="#!/program/{{item.programmename}}" ng-click="EncodeUrlWithDash(item.programmename,$event,'programme',item.channelid,item.programmeid)">{{item.programmename}}</a></div>
							</div>
							<div class='time'>{{item.starttime | watchlisttimeformat}}</div>
						</div>

						<div class="user-actions" ng-controller="UserController">

							<a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(item, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:item.isfavorite == '1'}">
								<i class="icon-favorite"></i>
							</a>

							<a live-tooltip="Reminder Alerts"        ng-click='toggleReminder(item, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:item.isreminder == '1'}"  >
								<i class="icon-reminder"></i>
							</a>
						</div>						
					</li>
				</ul>
				<div class = 'noResultsBlock' ng-show="profile.favorites.data.length ==0 && profile.favorites.sectionLoaded">Build your library of favorites! Add your favorite channels/prgorams to your Watchlist!</div>
			</div>
		</div>
		<div class="feeds" ng-hide="!profile.feeds.data.length && profile.feeds.sectionLoaded">
			<h6 class="subtitle">Feed</h6>
			<a class="more" href='#!/socialfeed' ng-show="profile.feeds.allData.length > 3">View More</a>
			<div class="fix clearfix" ng-show="!profile.feeds.data.length && profile.feeds.sectionLoaded">No feeds to display</div>
			<div class="content-wrapper" ng-show="profile.feeds.data.length">
				<ul>

					<li ng-repeat="td in profile.feeds.data">
						<ul>
							<li class="row" ng-show = "td.contenttype == 'program'" >
								<div class="thumb">
									<div class="wrapper" css-bg-image="{{td.imagepath}}"></div>
								</div>
								<div class="testimonialContent" ng-class-odd="'odd'" ng-class="{active: td.active}">
									<h5>{{td.contentname}}<button class='btn btn-small fblike' ng-click='facebookShare(td, $event)'>{{td.userlike | fbActivityLike}}</button></h5>
									<div class="multilineWrap">
										<p>{{td.description}}</p>
									</div>
									<ul class="list-friends" ng-show="td.feedLikes.likeDisplayCount">
										<p class="title_blue">{{td.feedLikes.displayUsers}}<span class="text_pink"> and {{td.feedLikes.likeCount}} others like this</span></p>
										<li class="item animate bounceInDown clearfix friend_inline_list additional_style" ng-repeat="thisItem in td.feedLikes.userImages" >
											<div class="thumb" css-bg-image="{{thisItem.userimage | filterDefaultImage}}" title="{{thisItem.username}}"></div>
										</li>
									</ul>
								</div>
							</li>
							<li class="row{{td.rownum}}" ng-click="loadDiscussion(td, $event)" ng-class="{active: td.active}" ng-show = "td.contenttype == 'channel'"  >
								<div class="thumb">
									<div class="wrapper" css-bg-image="{{td.imagepath}}"></div>
								</div>
								<div class="testimonialContent" ng-class-odd="'odd'" ng-class="{active: td.active}">
									<h5>{{td.contentname}}</h5>
									<div class="multilineWrap">
										<p>{{td.description}}</p>
									</div>
									<ul class="list-friends" ng-show="td.feedLikes.showSection">
										<p class="title_blue">{{td.feedLikes.displayUsers}}<span class="text_pink"> and {{td.feedLikes.likeCount}} others like this</span></p>
									</ul>
									<button class='btn btn-small fblike' ng-click='facebookShare(td, $event)'>{{td.userlike | fbActivityLike}}</button>
								</div>
							</li>


							<li class="row{{td.rownum}}" ng-click="loadDiscussion(td, $event)" ng-class="{active: td.active}" ng-show = "td.contenttype == 'forum'">
								<div class="thumb">
									<div class="wrapper" css-bg-image="{{td.forumimage}}"></div>
								</div>
								<div class="testimonialContent discussion" ng-class-odd="'odd'" ng-class="{active: td.active}">
									<div class="thumb">
										<div class="wrapper"></div>
									</div>
									<div class="info">
										<h2 class="discussion-header"><span class="title" live-tooltip="{{td.contentname}}">{{td.contentname}}</span></h2>
										<span live-tooltip="{{td.username}}" class="author">by {{td.username}}</span>
										<span class="details">{{td.createddate | momentDiference}}</span>
										<div class="user-actions" ng-controller="UserController">
											<a href="" class="btn btn-comment" ng-click="toggleComment($event)">Comment</a>
											<a href="#" ng-click="toggleLikeDiscussion(true, td, $event)" ng-class="{active: td.userlike =='1'}" class="like btn btn-small btn-purple-blue">
												<i class="icon-like"></i>
											</a>
											<a href="#" ng-click="toggleLikeDiscussion(false, td,  $event)" ng-class="{active: td.userdislike =='1'}" class="btn btn-small btn-purple-blue dislike">
												<i class="icon-dislike"></i>
											</a>
											<a href="#" ng-click="flagDiscussion(td, $event)" ng-class="{active: td.userreportabuse =='1'}" class="btn btn-small btn-purple-blue flag">
												<i class="icon-flag"></i>
											</a>
										</div>
									</div>
									<div class="trending-meter">{{td.threadcount}}</div>
									<div class="ownComment clearfix ng-scope" ng-show="td.ownComment">
										<div class="thumb"></div>
										<div class="info">
											<h2 live-tooltip="{{td.ownComment.username}}" class="ng-binding">{{td.ownComment.username}}
												<span class="status ico star" ng-show="td.ownComment.moderator">moderator</span>
											</h2>
											<div class="description ng-binding">{{td.ownComment.commenttext}}</div>
											<div class="user-actions ng-scope" ng-controller="UserController">
												<a href="" class="btn-comment btn" ng-click="openReplyForm($event)">Reply</a>
												<a href="#" ng-class="{active: td.ownComment.userlike=='1'}" ng-click="toggleLikeComment(true, td.ownComment, $event)" class="btn flag btn-small btn-purple-blue like">
													<i class="icon-like"></i>
												</a>
												<a href="#" ng-class="{active: td.ownComment.userdislike=='1'}" ng-click="toggleLikeComment(false, td.ownComment, $event)" class="btn flag btn-small btn-purple-blue dislike">
													<i class="icon-dislike"></i>
												</a>
												<a href="#" ng-class="{active: td.ownComment.userreportabuse=='1'}" ng-click="toggleFlagComment(td.ownComment, $event)" class="btn flag btn-small btn-purple-blue">
													<i class="icon-flag"></i>
												</a>
											</div>
											<form class="post-reply ng-scope ng-pristine ng-valid" ng-controller="UserController" action="">
												<textarea ng-model="discussion.reply.message" placeholder="Reply to this comment..." class="ng-pristine ng-valid"></textarea>
												<button type="submit" ng-click="commentDiscussion(td.contentid, $event, displayFeedComment, td)" class="btn-reply btn btn-light-blue">Post</button>
											</form>
										</div>
									</div>
									<div class="post-comment ng-scope" ng-controller="UserController">
										<form action="" class="ng-pristine ng-valid">
											<textarea ng-model="discussion.reply.message" placeholder="Write a comment..." class="ng-pristine ng-valid"></textarea>
											<button type="submit" ng-click="commentDiscussion(td.contentid, $event, displayFeedComment, td)" class="btn-post btn btn-light-blue">Post</button>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- / content-wrapper -->
		</div><!--  End of feeds  -->
	</div>

	<%= render :partial => "addons/profile-sidebar" %>

</section>
