
<section class='clearfix main-section'>

  <div class='content content-home'>

    <div class='featured' ng-controller='Home_FeaturedController'>

      <h6 class='subtitle'>FEATURED VIDEO</h6>

      <div id="featured-carousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
          <div ng-click="" class="item clearfix" data-isvideo="{{(v.videourl) && 1 || 0}}" data-slideid="{{v.slideid}}" ng-repeat='v in featuredVideos' featured-video-player watchable="v" css-bg-image-fallback video-id="{{v.videoid}}" is-youtube="{{v.isyoutube}}" video-thumbnail="{{v.videothumbnail}}" image-filepath="{{v.imagefilepath}}">

            <div class='player' data-isyoutube="{{v.isyoutube}}" id="playerthing{{v.slideid}}" ></div>

            <!--<div class="featured-text">FEATURED by <a href="#!/channel/{{v.channelname}}" ng-click="EncodeUrlWithDash(v.channelname,$event,'channel',v.channelid,v.programmeid)">{{v.channelname}}</a></div>-->

            <span class='play'><img src="assets/img/icon-play-big.png" alt=""></span>

          </div>

        </div>
        <!-- Carousel nav -->
        <a ng-hide="featuredVideos.length == 1" class="carousel-control left" href="#featured-carousel" data-slide="prev">&lsaquo;</a>
        <a ng-hide="featuredVideos.length == 1" class="carousel-control left iphone-media-ctrl iphone-media-ctrl-prev" href="#featured-carousel" data-slide="prev"></a>
        <a ng-hide="featuredVideos.length == 1" class="carousel-control right" href="#featured-carousel" data-slide="next">&rsaquo;</a>
        <a ng-hide="featuredVideos.length == 1" class="carousel-control right iphone-media-ctrl iphone-media-ctrl-next" href="#featured-carousel" data-slide="next"></a>

        <div class="carousel-actions" style="overflow:visible; " id="baseFeatured">
          <div class="item-content" data-actionsid="{{v.slideid}}" ng-repeat='v in featuredVideos' >
            <div class='info'>
              <h2><a href="#!/program/{{v.programmename}}" ng-click="EncodeUrlWithDash(v.programmename,$event,'programme',v.channelid,v.programmeid,v.starttime)">{{v.programmename}}</a></h2>
              <p>{{v.starttime|featuredVideoTime}}, {{v.timestring}} <a href="#!/channel/{{v.channelname}}" ng-click="EncodeUrlWithDash(v.channelname,$event,'channel',v.channelid,v.programmeid)">{{v.channelname}}</a></p>
            </div>

            <div class="actions" ng-controller="UserController">

              <a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(v, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:v.isfavorite == '1'}">
                <i class="icon-favorite"></i>
              </a>

              <a live-tooltip="Reminder Alerts"        ng-click='toggleReminder(v, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:v.isreminder == '1'}"  >
                <i class="icon-reminder"></i>
              </a>

              <a live-tooltip='Add to Watchlist' ng-click='addToWatchlist(v, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:v.iswatchlist == '1'}">
                <i class="icon-watchlist"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- / Carousel actions -->
      </div>

    </div>
    <!-- / featured -->

    <div class='channel-tabs hidden-phone' ng-controller='Home_ProgramsTabController' ng-init='init()'>

      <!-- template for items -->
      <script type="text/ng-template" id="home-tab-item.html">
      <div class='thumb'>
      <div ng-show="p.isrecommended=='1'" class="favorite-ribbon"></div>
      <div class='player'></div>
      <div class='image' style="background-image:url({{p.imagefilepath}});">
      <a ng-click='playVideo(p.programmename,$event)'  ng-show='hasVideo()' class='play' style="cursor:pointer"></a>

        <a ng-href="#!/program/{{p.programmename}}"  ng-show='!hasVideo()' class='noPlay' ng-click="EncodeUrlWithDash(p.programmename,$event,'programme',p.channelid,p.programmeid,p.starttime)"></a>
      </div>

      <span class="time" ng-show="p.duration">{{p.duration | videoLength}}</span>

      <div class="user-actions" ng-controller="UserController">

      <a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.isfavorite == '1'}">
      <i class="icon-favorite"></i>
      </a>

      <a live-tooltip="Reminder Alerts"  ng-click='toggleReminder(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.isreminder == '1'}"  >
      <i class="icon-reminder"></i>
      </a>

      <a live-tooltip='Add to Watchlist' ng-click='addToWatchlist(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.iswatchlist == '1'}">
      <i class="icon-watchlist"></i>
      </a>
      </div>

      </div>
      <div class="text-wrapper">
      <h2 multiline-overflow><a title="{{p.programmename}}" href="#!/program/{{p.programmename}}" ng-click="EncodeUrlWithDash(p.programmename,$event,'programme',p.channelid,p.programmeid,p.starttime)" >{{p.programmename}}
       </a></h2>

      <p class='infoChannel' live-tooltip-single-line= "{{p.channelname}}"><a href="#!/channel/{{p.channelname}}" ng-click="EncodeUrlWithDash(p.channelname,$event,'channel',p.channelid,p.programmeid)">{{p.channelname}}
        </a></p>
      <p class='info'>{{p.starttime|featuredVideoTime}}</p>

      </div>

      </script>

      <ul class="clearfix tab-yourrecs" >
        <li><a href='#' class='tab-btn active' ng-show="userLogged=='on'">Recommended</a></li>
        <li><a href='#' class='tab-btn active'>Premieres</a></li>
        <li><a href='#' class='tab-btn' ng-class="{'hidden-tablet': userLogged=='on'}">Exclusive</a></li>
        <li><a href='#' class='tab-btn'>Top Rated</a></li>
      </ul>


      <div class='tab-contents'>
        <div class='tab clearfix' ng-show="userLogged=='on' && currentActiveTab == 'recs'">

          <div class='item' ng-repeat='p in programs.yourrecs' home-tab-item watchable="p"></div>
          <div class = 'recs-spin' ng-show = 'programs.yourrecs == 0 && recsLoaded == false'> </div>
          <div ng-show="programs.yourrecs == 0 && recsLoaded == true" class="noResultsBlock">Favorite your programs &amp; channels and help us recommend!</div>
          <div class='clearfix' ></div>

          <a href='#' class='more'>{{programs.yourrecs.length}}</a>

        </div>
        <!-- /tab Yourrecs -->
        <div class='tab clearfix' ng-show="currentActiveTab == 'premiers'">

          <div class='item' ng-repeat='p in programs.premiers' home-tab-item watchable="p" ></div>
          <div class = 'premiers-spin' ng-show = 'programs.premiers == 0 && premiersLoaded == false'> </div>
          <div ng-show="programs.premiers == 0 && premiersLoaded == true" class="noResultsBlock">No Results for Premiers.</div>
          <div class='clearfix'></div>

          <a href='#' class='more'>MORE…</a>

        </div>
        <!-- /tab premiers -->

        <div class='tab clearfix' ng-show="currentActiveTab == 'exclusives'">
          <div class='item' ng-repeat='p in programs.exclusives' home-tab-item watchable="p" ></div>
          <div class = 'exclusives-spin' ng-show = 'programs.exclusives == 0 && exclusivesLoaded == false'> </div>
          <div ng-show="programs.exclusives == 0 && exclusivesLoaded == true" class="noResultsBlock">No Results for Exclusives.</div>
          <div class='clearfix'></div>

          <a href='#' class='more'>MORE…</a>

        </div>
        <!-- /tab exclusives -->

        <div class='tab clearfix' ng-show="currentActiveTab == 'rated'">

          <div class='item' ng-repeat='p in programs.rated' home-tab-item watchable="p" ></div>
          <div class = 'rated-spin' ng-show = 'programs.rated == 0 && ratedLoaded == false'> </div>
          <div ng-show="programs.rated == 0  && ratedLoaded == true" class="noResultsBlock">No Results for Rated.</div>
          <div class='clearfix'></div>

          <a href='#' class='more'>MORE…</a>

        </div>
        <!-- /tab top rated -->

      </div>
      <!-- /tab contents -->

    </div>
    <!-- /channel tabs -->

  </div>
  <!-- / content -->

  <aside class='sidebar' ng-controller='TVGuide_GridController'>
    <h6 class='subtitle'>WHAT'S ON</h6>

    <nav class='clearfix'>
      <div class="btn-group">
        <a ng-click="slideToNow($)" class='btn' ng-class='{active:currentNavButton == "now"}'>
          Now
          <a ng-click="expandNowNext()" class='expand-btn visible-desktop'>Expand</a>
        </a>
        <a ng-click="moveNext()" class='btn' ng-class='{active:currentNavButton == "next"}'>Next</a>
      </div>
      <a href="#!/tv-guide" class='btn arrow-right' ng-click="highlightTvGuideFunc()">Full TV Guide</a>
    </nav>

    <%= render :partial => "tv_guide/tvguide", :locals => {:inPage => "home"} %>
    <div class="fix emptyGuideLoader" ng-hide="!loadingBelow"></div>
    <div class="noResultsBlock" ng-show="( emptyResult || tvGuideVisibleRows == 0 ) && !loadingBelow">No programs to display</div>
    <div class="recommendations home" ng-controller="UserController" contextual-info  ng-show="showTips">
      <div class="recClose" ng-click="closePrompt()">×</div>
      <h6>Get better recommendations</h6>
      <div class="recPrompt">
        <div class="favTrigger">
          <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
            <i class="icon-favorite"></i>
          </a>

          <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
            <i class="icon-reminder"></i>
          </a>

          <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
            <i class="icon-watchlist"></i>
          </a>
        </div>
        <div class="favPrompt">
          Click Heart To Favorite
        </div>
        <div class="favPrompt">
         Click to set SMS/Email Reminders for your favorite programs
        </div>
        <div class="favPrompt">
          Click to add programs to your watchlist
        </div>
      </div>
    </div>

  </div>

</aside>
<!-- / whats on -->



</section>
