<div class = 'clearfix watchlist_homepage_ref' ng-controller="WatchlistPageController">
	<div class = 'content' >
		<!-- <div class="new_watchlist" ng-show="watchlistCount == 0" watchlist-dropbox > -->
		<div class="new_watchlist" ng-show="initialLoad()" watchlist-dropbox >
			<p class = 'header'>You haven't added movies and TV shows to your watchlist yet. </p>
			<p class = 'sub-header'>Start adding to your list to setup <span class = 'highlight'>reminders</span> for your favorite tv shows. <span class = 'highlight'>Favorite</span> your best movies and you will always know when they are airing.</p>
			<p class = 'help-info'>It's as easy as drag and drop. Try it now!</p>
			<p class = 'sub-help-info'>Just click and drag a video or movie from your rec customized just for you, or from the premiers below. </p>
			<img src="assets/img/watchlist-large.png"></img>
		</div>
		<%= render :partial => "watchlist/maindiv", :locals => {:page => "watchlist"} %>

	</div>
	<aside class="sidebar">
	 <%= render :partial => "addons/recommendations", :locals => {:controller => "YourRecsController", :header => "Recommended"} %>
	 <div class = 'watchlist-helper' ng-show="showHelper">
		<img src="assets/img/watchlist-small.png"></img>
		<p> Drag and drop shows and movies to your watchlist. </p>
		<div class = 'watchlist-btn' ng-click="hideHelper()"> Okay </div>
	 </div>
	</aside>
</div>