<div class='popover-content beforeaction-container' style="z-index: 99999999" ng-controller='UserController' before-action>
  <div class="beforeAction">
    <h4 class='action-title'></h4>
    <p class="time-set action-subtitle"></p>
    <div class="actions">
      <button ng-click="loadAuth('signin', actionObj)" class='btn btn-light-green'>LogIn</button>
      <button ng-click="loadAuth('signup', actionObj)" class='btn btn-light-blue'>SignUp</button>
    </div>
  </div>
</div>