
<div class='popover-content beforeaction-container' ng-controller='UserController' before-action>
  <div class="beforeAction">
  	<div class='pad_wrap'>
	    <h4 class='action-title'></h4>
	    <p class="time-set action-subtitle"></p>
	    <div class="center-image"></div>
	    <div class="actions">
	      <button ng-click="loadAuth('signup', actionObj)" class='btn btn-light-blue'>Sign Up</button>
	      <button ng-click="loadAuth('signin', actionObj)" class='btn btn-light-green'>Log In</button>
	      <i></i>
	    </div>
	</div>
    <div class="howto">
    	<a ng-click="takeMeToInfo()">How does it work?</a>
   	</div>
  </div>
</div>