<section class="clearfix main-section ng-scope" ng-controller="AboutController">
  <div class='content'>
    <div class ="about-wrapper">
      <h6 class ="subtitle">ABOUT</h6>
      <p class ="paragraph">What's On India Pvt. Ltd. is India's premier TV guidance company working with all major TV networks and operators. The company's vision is to enable TV content search, discovery and guidance across varied platforms and technologies. What's-On- India's technology vertical runs India's largest multi-platform, multi-lingual, multi-device electronic program guide (EPG) system that covers more than 550 TV channels on the source side and powers EPGs into more than 20 million set-top-boxes and devices on the destination end.</p>
      <p class ="paragraph">The media vertical of the company runs the "What's-On-India" channel that is currently available in more than 30 million households across DTH and Cable besides other media assets such as portals, widgets and apps on tablets, mobile and smart- TVs. The investment is aimed at expanding the technology vertical into new and emerging technologies as well as strengthening the company's owned media portfolio.</p>
    </div>
    <div class= "our-investors-wrapper">
       <h6 class= "subtitle">OUR INVESTORS</h6>
        <div class=  "investor-item clearfix">
          <div class="investor-thumb" style="background: url('assets/img/AtulPhadnis_Latest.jpg') center center no-repeat; background-size: cover;">
          </div>
          <div class= "investor-detail-wrapper">
            <div class= "investor-name">Atul Phadnis &amp; family
            </div>
            <div class= "investor-designation">Founder, CEO
            </div>
            <p class ="about-investor">Earlier with Rediffusion-DY&amp;R,<br> Mindshare, Starcom and TAM Media
            </p>
          </div>
        </div>
        <div class=  "investor-item clearfix">
          <div class= "investor-thumb" style="background: url('assets/img/IntelCapital.png') center center no-repeat #FFF; background-size: 90%;">
          </div>
          <div class= "investor-detail-wrapper">
            <div class= "investor-name">Intel Capital
            </div>
            <!-- <div class= "investor-designation">Founder, CEO
            </div> -->
            <p class ="about-investor">Intel Capital, Intel's global investment organization, makes equity investments in innovative technology start-ups and companies worldwide. Intel Capital invests in a broad range of companies offering hardware, software, and services targeting enterprise, home, mobility, health, consumer Internet, semiconductor manufacturing and cleantech. Since 1991, Intel Capital has invested more than US$10 billion in over 1,140 companies in 50 countries. In that timeframe, 191 portfolio companies have gone public on various exchanges around the world and 268 were acquired or participated in a merger. In 2010, Intel Capital invested US$327 million in 119 investments with approximately 44 percent of funds invested outside the U.S. and Canada. For more information on Intel Capital and its differentiated advantages, visit www.intelcapital.com
            </p>
          </div>
        </div>
        <div class=  "investor-item clearfix">
          <div class= "investor-thumb" style="background: url('assets/img/nexus_india.jpg') center center no-repeat #FFF; background-size: 90%;">
          </div>
          <div class= "investor-detail-wrapper">
            <div class= "investor-name">Nexus Venture Partners 
            </div>
            <!-- <div class= "investor-designation">Founder, CEO
            </div> -->
            <p class ="about-investor">Nexus Venture Partners<a href="http://www.nexusvp.com" class ="investor_link"> (www.nexusvp.com) </a>is India’s leading venture capital fund, with offices in India and Silicon Valley. The team consists of entrepreneurs and corporate executives, who have founded and scaled large global companies. 

            Nexus Venture Partners has over $600mn under management with a portfolio of over 45 companies across Technology, Internet, Media, Consumer, and Business services sectors. Nexus partner companies include<a href="http://www.cloud.com" target="_blank" class ="investor_link"> Cloud.com </a>(acquired by Citrix), Gluster (acquired by Red Hat), Komli, Pubmatic, DimDim (acquired by Salesforce),<a  href="http://www.Snapdeal.com" target="_blank" class ="investor_link"> Snapdeal.com</a>, Netmagic (acquired by NTT Com), Druva, Unmetric, ScaleArc, Suminter.
            </p>
          </div>
        </div>
        <div class=  "investor-item clearfix">
          <div class= "investor-thumb" style="background: url('assets/img/sequoia_capital.jpg') center center no-repeat #FFF; background-size: 90%;">
          </div>
          <div class= "investor-detail-wrapper">
            <div class= "investor-name">Venture Capital Fund
            </div>
            <!-- <div class= "investor-designation">Founder, CEO
            </div> -->
            <p class ="about-investor">
            Sequoia Capital provides <a href="http://www.sequoiacap.com/india" class ="investor_link">venture capital funding</a> to founders of startups who want to turn<a href="http://www.sequoiacap.com/ideas/" class ="investor_link"> business ideas </a>into enduring companies. As the "Entrepreneurs Behind the Entrepreneurs", Sequoia Capital's Partners have worked with innovators such as Steve Jobs of Apple Computer, Larry Ellison of Oracle, Bob Swanson of Linear Technology, Sandy Lerner and Len Bozack of Cisco Systems, Dan Warmenhoven of NetApp, Jerry Yang and David Filo of Yahoo!, Jen-Hsun Huang of NVIDIA, Michael Marks of Flextronics, Larry Page and Sergey Brin of Google, Chad Hurley and Steve Chen of YouTube, Dominic Orr and Keerti Melkote of Aruba Wireless Networks, Jonathan Kaplan of Pure Digital, Tony Hsieh of Zappos and Omar Hamoui of Admob. To learn more about Sequoia Capital visit<a  href="http://www.sequoiacap.com/india" class ="investor_link"> www.sequoiacap.com/india.</a>
            </p>
        
              <div class= "investor-name">INDIA GROWTH
              </div>
              <div class= "investor-designation">About Sequoia Capital
              </div>
              <p class ="about-investor">
              Since 1972, Sequoia Capital has provided early stage and growth stage venture capital for very smart founders and executives who have turned great ideas into sustainable companies of enduring value. As the "Entrepreneurs Behind the Entrepreneurs", Sequoia Capital's Partners have worked with accomplished innovators and operators who built great franchises such as Apple Computer, Cisco Systems, Flextronics, Google, Informix, Linear Technology, LSI Logic, Microchip, NetScaler, NetScreen, Network Appliance, nVidia, Oracle, PayPal, Redback Networks, Yahoo!, YouTube and Zappos. To learn more about Sequoia Capital visit<br><a  href="http://www.sequoiacap.com/india" class ="investor_link"> www.sequoiacap.com/india.</a>
              </p>
            </div>
          </div>
        
        <div class=  "investor-item clearfix">
          <div class= "investor-thumb" style="background: url('assets/img/wealth_first.jpg') center center no-repeat #FFF; background-size: 90%;">
          </div>
          <div class= "investor-detail-wrapper">
            <div class= "investor-name">Wealth First Advisors Pvt. Ltd. 
            </div>
            <div class= "investor-designation">Angel Investors
            </div>
            <p class ="about-investor">Investment company<br>
                                        based out of Mumbai<br>
                                        and Ahmedabad.
            </p>
          </div>
        </div>

    </div>
  </div>
  <aside class='sidebar'>
    <div class ="sidebar-item">
      <div class ="sidebar-thumb" style="background: url('assets/img/AtulPhadnis_Latest.jpg') center center no-repeat; background-size: cover;">
      </div>
      <div class ="sidebar-detail-wrapper">
        <p class ="sidebar-text queries"> For General Queries:
          <a href="mailto:response@whatsonindia.com" class ="sidebar-text-details"> response@whatsonindia.com</a>
        </p>
        <p class ="sidebar-text epg">For EPG Solutions:
          <a href="response@whatsonindia.com" class ="sidebar-text-details"> response@whatsonindia.com</a>
        </p>
        <p class ="sidebar-text opportunities">For Opportunities:
          <a href="mailto:resume@whatsonindia.com" class ="sidebar-text-details">resume@whatsonindia.com</a>
        </p>
      </div>
    </div>
  </aside>
</section>

