<section class='clearfix main-section programme-details' ng-controller="ProgrammeController">

<div class='content'>
<div class="programme-description clearfix" ng-show="fullProgrammeDetail">
  <div class="programme-header">
    <div class="left-grid">
      <div class="clearfix">
        <h1 class="name" live-tooltip-single-line="{{fullProgrammeDetail.programmename}}">{{fullProgrammeDetail.programmename}}</h1>
        <!-- <span class="movieProductionYear" ng-show="fullProgrammeDetail.productionyear && fullProgrammeDetail.genre == 'Film'">{{fullProgrammeDetail.productionyear}}</span> -->
      </div>
      <div class="favs" ng-controller="UserController">
        <a href="#" ng-click="toggleFavorite(fullProgrammeDetail, $event)" data-popover-position="top left" ng-class="{active: fullProgrammeDetail.isfavorite=='1'}" class="btn btn-small btn-purple-blue"><i class="icon-favorite" ></i></a>
        <span class="number">{{fullProgrammeDetail.nooffans}} Fans</span>
      </div>
    </div>

    <ul class="right-grid programme-status">
      <div ng-show="fullProgrammeDetail.showExclusive" class="favorite-ribbon"></div>
      <li>
        <i class="icon popularity"></i>
        <span class="label">Popularity</span>
        <span class="rank">{{fullProgrammeDetail.popularityindex}}/10</span>
      </li>
      <li>
        <i class="icon {{fullProgrammeDetail.affinityicon}}"></i>
        <span class="label">Affinity</span>
        <span class="rank">{{fullProgrammeDetail.affinitytext}}</span>
      </li>
    </ul>

  </div>
</div>
<!-- / programmes-header -->


<div class='featured' ng-controller="ProgrammeFeaturedVideosController" ng-show="featuredVideos">

  <div id="featured-carousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item clearfix" data-isvideo="{{(v.videourl) && 1 || 0}}" data-youtubeurl="{{v.videoid}}" data-isyoutube="{{v.isyoutube}}" data-slideid="{{v.slideid}}" ng-repeat='v in featuredVideos' featured-video-player css-bg-image-fallback video-id="{{v.videoid}}" is-youtube="{{v.isyoutube}}" video-thumbnail="{{v.videothumbnail}}" image-filepath="{{v.imagefilepath}}">
        <div class='player' data-isyoutube="{{v.isyoutube}}" id="playerthing{{v.slideid}}"></div>
        <!-- <img class="featured-image" ng-src="{{v.videothumbnail}}" alt=""> -->
        <!--<div class="featured-text">FEATURED by <a href="#!/channel/{{fullProgrammeDetail.channelname}}" ng-click="EncodeUrlWithDash(fullProgrammeDetail.channelname,$event,'channel',fullProgrammeDetail.channelid,fullProgrammeDetail.programmeid)">{{fullProgrammeDetail.channelname}}</a></div>-->
        <span class='play'><img src="assets/img/icon-play-big.png" alt=""></span>
      </div>

    </div>
    <!-- Carousel nav -->
    <a ng-hide="featuredVideos.length == 1" class="carousel-control left" href="#featured-carousel" data-slide="prev">&lsaquo;</a>
    <a ng-hide="featuredVideos.length == 1" class="carousel-control left iphone-media-ctrl iphone-media-ctrl-prev" href="#featured-carousel" data-slide="prev"></a>
    <a ng-hide="featuredVideos.length == 1" class="carousel-control right" href="#featured-carousel" data-slide="next">&rsaquo;</a>
    <a ng-hide="featuredVideos.length == 1" class="carousel-control right iphone-media-ctrl iphone-media-ctrl-next" href="#featured-carousel" data-slide="next"></a>


    <div class="carousel-actions" style="overflow:visible; ">
      <div class="item-content" data-actionsid="{{v.slideid}}" ng-repeat='v in featuredVideos'>
        <div class='info'>
          <h2 live-tooltip-single-line = "{{fullProgrammeDetail.programmename}}" ><a href="#!/program/ {{fullProgrammeDetail.programmename}}" ng-click="EncodeUrlWithDash(fullProgrammeDetail.programmename,$event,'programme',fullProgrammeDetail.channelid,fullProgrammeDetail.programmeid,fullProgrammeDetail.starttime)">{{fullProgrammeDetail.programmename}}</a></h2>
          <p>{{fullProgrammeDetail.starttime|featuredVideoTime}}<span ng-show="fullProgrammeDetail.channelname.length">, </span><a href="#!/channel/{{fullProgrammeDetail.channelname}}" ng-click="EncodeUrlWithDash(fullProgrammeDetail.channelname,$event,'channel',fullProgrammeDetail.channelid,fullProgrammeDetail.programmeid)">{{fullProgrammeDetail.channelname}}</a></p>
        </div>

        <div class="actions" ng-controller="UserController">

          <a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(fullProgrammeDetail, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:fullProgrammeDetail.isfavorite == '1'}">
            <i class="icon-favorite"></i>
          </a>

          <a live-tooltip="Reminder Alerts"   ng-click='toggleReminder(fullProgrammeDetail, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:fullProgrammeDetail.isreminder == '1'}"  >
            <i class="icon-reminder"></i>
          </a>

          <a live-tooltip='Add to Watchlist' ng-click='addToWatchlist(fullProgrammeDetail, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:fullProgrammeDetail.iswatchlist == '1'}">
            <i class="icon-watchlist"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- / Carousel actions -->
  </div>

</div>
<!-- / featured -->

<div class='programme-info'>
  <p class='info'>{{fullProgrammeDetail.synopsis}}</p>
</div>

<div class='programme-info-tabs hidden-phone'>

  <ul class="clearfix" >
    <li><a class='tab-btn' ng-class="{active: infotab==0}" ng-click="infotab = 0" style="cursor: pointer">About</a></li>
    <li><a class='tab-btn' ng-class="{active: infotab==1}" ng-hide="checked" ng-click="infotab = 1" style="cursor: pointer">CAST & CREW</a></li>
    <!-- <li><a class='tab-btn' ng-click="showMore()">{{aboutTabText}}</a></li> -->
  </ul>
  <p><a class='tab-btn' ng-click="showMore()" ng-show="infotab == 0 && showMoreButton" style="cursor: pointer">{{aboutTabText}}</a></p>

  <div class='tab-contents'>
    <div class='tab clearfix' ng-show="infotab == 0">

      <div class='item'>
        <div class='left-about'>
          <div class='info clearfix' ng-repeat="i in detailsToIncludePaginate" ng-bind-html>
            <span class= 'title'>{{i.key}}:</span>
            <span class= 'title-info' ng-bind-html-unsafe="i.val | addLinks:i.key"></span>
          </div>
        </div>




        <div class = 'right-about'>
          <div class = 'rating-star'>
            <span> {{fullProgrammeDetail.rating}}</span>
            <p class="rate-it">Rate it</p>
          </div>
          <div class = 'rating-star-wrapper'>
            <div class='info clearfix'>
              <span class= 'title'>Ratings </span>
              <span class = 'title-info'>{{fullProgrammeDetail.rating}}/10</span>
            </div>
            <div class='info clearfix'>
              <span class= 'title'>Rated </span>
              <span class = 'title-info'>{{fullProgrammeDetail.nouserrated}} Users</span>
            </div>
            <div class='info clearfix'>
              <span class= 'title'>Yours </span>
              <span class = 'title-info'>{{fullProgrammeDetail.userrating}}/5</span>
            </div>
            <div class='info clearfix' type-id="fullProgrammeDetail.programmeid" user-rating="fullProgrammeDetail.userrating" user-id="getUser().userid" rating-count="fullProgrammeDetail.nouserrated" rating-stars>
              <input name="star1" type="radio" class="star starHead" value="0.5" ng-checked="userRating == 0.5" />
              <input name="star1" type="radio" class="star starTail" value="1"   ng-checked="userRating == 1"   />
              <input name="star1" type="radio" class="star starHead" value="1.5" ng-checked="userRating == 1.5" />
              <input name="star1" type="radio" class="star starTail" value="2"   ng-checked="userRating == 2"   />
              <input name="star1" type="radio" class="star starHead" value="2.5" ng-checked="userRating == 2.5" />
              <input name="star1" type="radio" class="star starTail" value="3"   ng-checked="userRating == 3"   />
              <input name="star1" type="radio" class="star starHead" value="3.5" ng-checked="userRating == 3.5" />
              <input name="star1" type="radio" class="star starTail" value="4"   ng-checked="userRating == 4"   />
              <input name="star1" type="radio" class="star starHead" value="4.5" ng-checked="userRating == 4.5" />
              <input name="star1" type="radio" class="star starTail" value="5"   ng-checked="userRating == 5"   />
            </div>
          </div>
        </div>
      </div>

      <div class='clearfix'></div>

    </div>
    <!-- /tab about -->

    <div class='tab clearfix' ng-show="infotab == 1">

      <div class='item'>
        <div class='info cast-info' ng-repeat="cast in paginate">
          <div css-bg-image="../assets/img/cast-default.png" class = 'cast-img'>
            <div css-bg-image="/images/uploads/{{cast.profilepicture}}" class = 'cast-img'>
            </div>
          </div>
          <span class = 'real-name ellipsis'>{{cast.rolename}}</span>
          <span class = 'cast-name ellipsis'><a ng-href="#!/actor/{{cast.castname}}" ng-click="storeActorid(cast.castname,cast.castid,$event)">{{cast.castname}}</a></span>
        </div>
        <div class="fix clearfix" ng-hide="paginate.length">No results found</div>
        <div class="loadmore" ng-hide="paginate.length == programmeCast.length">
          <a ng-click="loadMore()">More..</a>
        </div>
      </div>

      <div class='clearfix'></div>

    </div>
    <!-- /tab cast and crew -->

  </div>
  <!-- /tab contents -->

</div>
<!-- /programme info tabs -->

<div class='channel-tabs hidden-phone' ng-controller='ProgramDetailsTabController' ng-init='init()'>

  <!-- template for items -->
  <script type="text/ng-template" id="home-tab-item.html">
    <div class='thumb'>
      <div ng-show="p.isrecommended=='1'" class="favorite-ribbon"></div>
      <div class='player'></div>
      <div class='image' background-image-fallback video-id="{{p.videoid}}" is-youtube="{{p.isyoutube}}" video-thumbnail="{{p.videothumbnail}}" image-filepath="{{p.imagefilepath}}">
        <a ng-click='playVideo(p.programmename,$event)' ng-show='hasVideo()' class='play' style="cursor: pointer"></a>
        <a href="#!/program/{{p.programmename}}" ng-click="EncodeUrlWithDash(p.programmename,$event,'programme',p.channelid,p.programmeid,p.starttime)"  ng-show='!hasVideo()' class='noPlay' ></a>
      </div>
      <span class="time" ng-show="p.duration">{{p.duration | videoLength}}</span>

      <div class="user-actions" ng-controller="UserController">

        <a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.isfavorite == '1'}">
          <i class="icon-favorite"></i>
        </a>

        <a live-tooltip="Reminder Alerts"  ng-click='toggleReminder(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.isreminder == '1'}"  >
          <i class="icon-reminder"></i>
        </a>

        <a live-tooltip='Add to Watchlist' ng-click='addToWatchlist(p, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.iswatchlist == '1'}">
          <i class="icon-watchlist"></i>
        </a>
      </div>
    </div>
    <div class="text-wrapper">
      <h2 multiline-overflow><a title="{{p.programmename}}" href="#!/program/{{p.programmename}}" ng-click="EncodeUrlWithDash(p.programmename,$event,'Program',p.channelid,p.programmeid,p.starttime)">{{p.programmename}}</a></h2>
      <p class='infoChannel' live-tooltip-single-line = "{{p.channelname}}" ><a href="#!/channel/{{p.channelname}}" ng-click="EncodeUrlWithDash(p.channelname,$event,'channel',p.channelid,p.programmeid)">{{p.channelname}}</a></p>
      <p class='info'>{{p.starttime|featuredVideoTime}}</p>
    </div>
  </script>

  <ul class="clearfix tab-yourrecs" >
    <li><a href='#' class='tab-btn active' ng-show='userLogged=="on"'>Recommended</a></li>
    <li><a href='#' class='tab-btn active' ng-show= "ispromo">Promos</a></li>
    <li><a href='#' class='tab-btn episodes' ng-show="fullProgrammeDetail.genre=='TV Show' && isepi">Episodes</a></li>
    <li><a href='#' class='tab-btn'>Web Videos</a></li>
  </ul>

  <div class='tab-contents'>
    <div class='tab clearfix' ng-show="currentActiveTab == 'recs'">

      <div class='item' ng-repeat='p in programs.yourrecs' home-tab-item watchable="p"></div>
      <div ng-show="programs.yourrecs == 0 && !spinnerOn" class="noResultsBlock">Favorite your programs &amp; channels and help us recommend!</div>
      <div class='clearfix'></div>

      <a href='#' class='more'>MORE…</a>

    </div>
    <!-- /tab yourRecs -->
    <div class='tab clearfix' ng-show="currentActiveTab == 'promos'">

      <div class='item' ng-repeat='p in programs.promos' home-tab-item watchable="p"></div>
      <div ng-show="programs.promos == 0" class="noResultsBlock">No Results for Promos.</div>
      <div class='clearfix'></div>

      <a href='#' class='more'>MORE…</a>

    </div>
    <!-- /tab promos -->

    <div class='tab clearfix' ng-show="currentActiveTab == 'episodes'">

      <div class='item' ng-repeat='p in programs.episodes' home-tab-item watchable="p"></div>
      <div ng-show="programs.episodes == 0" class="noResultsBlock">No Results for Episodes.</div>
      <div class='clearfix'></div>

      <a href='#' class='more'>MORE…</a>

    </div>
    <!-- /tab episodes -->

    <div class='tab clearfix' ng-show="currentActiveTab == 'web'">

      <div class='item' ng-repeat='p in programs.web' home-tab-item watchable="p"></div>
      <div ng-show="programs.web == 0" class="noResultsBlock">No matches found for your selection</div>
      <div class='clearfix'></div>

      <a href='#' class='more'>MORE…</a>

    </div>
    <!--/tab web videos -->

  </div>
  <!-- /tab contents -->

</div>
<!-- /channel tabs -->

<div class="discussions" ng-controller="ChannelDiscussionController">
  <h6 class="subtitle" style="margin-top:20px;">Discussions</h6>
  <ul class="discussionConfirmation" id="newDiscussionConfirmation">
    <li>
      <div class="dc_check"><div class="checkWrapper"></div></div>
      <div class="dc_close"><a href="#" ng-click="closeNotification($event)"></a></div>
      <div class="dc_body">Your message has been successfully posted.</div>
    </li>
  </ul>
  <div class="content-wrapper clearfix">
    <form action="">
      <input type="text"  ng-model="post.title" class="discussion-heading" placeholder="Write the Discussion Title..." />
      <textarea id="" name="" ng-model="post.message" class="message" placeholder="Write the Message..."></textarea>
      <button type="submit" ng-click="postDiscussion($event,'program' )" class="btn-light-blue btn">Start a new discussion</button>
      <div class="errorMessage" style="margin-left: 20px" id="discussion_post_error">Discussion message and title are required.</div>
    </form>
  </div>
</div>
<!-- / discussions -->


<div class="trending-discussions" ng-controller="TrendingDiscussionController">
  <h6 class="subtitle">User Discussions</h6>
  <a class="more" href="#!/discussion" ng-show="channels.length">View All</a>
  <ul class="discussionConfirmation" id="trendingConfirmation">
    <li>
      <div class="dc_check"><div class="checkWrapper"></div></div>
      <div class="dc_close"><a href="#" ng-click="closeNotification($event)"></a></div>
      <div class="dc_body">Your message has been successfully posted.</div>
    </li>
  </ul>
  <div class="fix clearfix" ng-hide="discussionsAvailable || loadingDiscussions">Be the first to discuss about this program</div>
  <!-- <div class="loadmore" id="DiscussionLoadIndicator" ng-show="loadingDiscussions"></div> -->
  <div class="content-wrapper" ng-show="discussionsAvailable">

    <ul class="discussionTabs">
      <li ng-repeat="td in channels" ng-class="{active: td.active}" ng-click="loadDiscussion(td, $event)">
        <div class="imgWrapper" css-bg-image="{{td.forumimage}}"></div>
      </li>
    </ul>

    <ul class="discussionBody" ng-repeat="td in channels" ng-show="td.active">
      <li>
        <div class="discussionHeader">
          <div class="dH_thumb" css-bg-image="{{td.userimage | filterDefaultDiscussionImage}}"></div>
          <div class="dH_details">
            <h2 class="discussion-header" live-tooltip="{{td.forumtitle}}">{{td.forumtitle}}</h2>
            <span live-tooltip="{{td.username}}" class="author" ng-show="td.username">by {{td.username}}</span>
            <span class="details">{{td.createddate | momentDiference}}</span>
            <div class="user-actions" ng-controller="UserController">
              <a href="" class="btn btn-comment" ng-click="scrollToComment($event)">Comment</a>
              <a href="#" ng-click="toggleLikeDiscussion(true, td, $event)" ng-class="{active: td.userlike=='1'}" class="like btn btn-small btn-purple-blue">
                <i class="icon-like"></i>
              </a>
              <a href="#" ng-click="toggleLikeDiscussion(false, td, $event)" ng-class="{active: td.userdislike=='1'}" class="btn btn-small btn-purple-blue dislike">
                <i class="icon-dislike"></i>
              </a>
              <a href="#" ng-click="flagDiscussion(td, $event)" ng-class="{active: td.userreportabuse=='1'}" class="btn btn-small btn-purple-blue flag">
                <i class="icon-flag"></i>
              </a>
            </div>
          </div>
          <div class="dH_count">{{td.threadcount}}</div>
          <div class="dH_likeCount">
            <span class="number-likes">{{td.forumlikecount}} people like this.</span>
          </div>
        </div>
        <div class="discussionContents">
          <a class="viewMoreComments icon bubble number-comments" ng-hide="td.threadcount < 2 || thread.current.length > 1" ng-click="showAllComments($event)"><i class="icon-buble"></i>View all {{td.threadcount}} comments</a>
          <ul class="comments-list">
            <li class="loadingIndicator" ng-show="td.loading"></li>
            <li class="noCommentsToShow" ng-show="!thread.current.length && !td.loading">No comments to display</li>
            <li class="clearfix" ng-repeat="thisComment in thread.current">
              <div class="thumb" css-bg-image="{{thisComment.userimage | filterDefaultDiscussionImage}}"></div>
              <div class="info">
                <h2 live-tooltip="{{thisComment.username}}">{{thisComment.username}}
                  <span class="status ico star" ng-show="thisComment.moderator">moderator</span>
                </h2>
                <div class="description">{{thisComment.commenttext}}</div>
                <div class="user-actions" ng-controller="UserController">
                  <a href="" class="btn-comment btn" ng-click="openReplyForm($event)" >Reply</a>
                  <a href="#"  ng-class="{active: thisComment.userlike=='1'}" ng-click="toggleLikeComment(true, thisComment, $event)" class="btn flag btn-small btn-purple-blue like">
                    <i class="icon-like"></i>
                  </a>
                  <a href="#"  ng-class="{active: thisComment.userdislike=='1'}" ng-click="toggleLikeComment(false, thisComment, $event)"  class="btn flag btn-small btn-purple-blue dislike">
                    <i class="icon-dislike"></i>
                  </a>
                  <a href="#"  ng-class="{active: thisComment.userreportabuse=='1'}" ng-click="toggleFlagComment(thisComment, $event)" class="btn flag btn-small btn-purple-blue">
                    <i class="icon-flag"></i>
                  </a>
                </div>
                <form class="post-reply" ng-controller="UserController" action="">
                  <textarea ng-model="discussion.reply.message" placeholder="Reply to this comment..."></textarea>
                  <button type="submit" ng-click="replyDiscussion(td.forumid, $event, initTrending)" class="btn-reply btn btn-light-blue">Post</button>
                </form>
              </div>
            </li>
          </ul>
          <div class="newCommentBox">
            <ul class="comments-list comment-actions">
              <li class="post-comment" ng-controller="UserController">
                <form action="">
                  <textarea ng-model="discussion.reply.message" placeholder="Write a comment..."></textarea>
                  <button type="submit" ng-click="replyDiscussion(td.forumid, $event, initTrending)" class="btn-post btn btn-light-blue">Post</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>


  </div>
  <!-- / comments -->
</div>

</div>
<!-- / content -->

<aside class='sidebar'>

<div class="next-schedule" ng-controller="NextScheduleController">
  <h6 class="subtitle">NEXT SCHEDULE</h6>

  <ul class="list-calendar">
    <li class="schedule-item" ng-repeat="p in paginate" ng-class="{active:p.isreminder =='1'}">
      <div class="time">
        <div class="ico clock"></div>
        <span class="hour">{{p.starttime|sideBarTime}}</span>
      </div>
      <div class="item">
        <h3><a href="#!/channel/{{p.channelname}}" ng-click="EncodeUrlWithDash(p.channelname,$event,'channel',p.channelid,p.programmeid)">on {{p.channelname}}</a></h3>
        <h4>{{p.starttime|sideBarDateString}}</h4>
      </div>
      <div class="reminder" ng-controller="UserController" >

        <a live-tooltip="Reminder Alerts"    class="reminder programme-reminder"    ng-click='toggleReminder(p, $event,paginate)'  class='btn btn-small btn-purple-blue' ng-class="{active:p.isreminder == '1'}" data-popover-position='top right' data-popover-location='bottom right' >
          <div class="ico clock"></div>
        </a>
      </div>

    </li>
    <li class="loadmore" ng-show="(showMore==true && paginate.length)"><a href="javascript:void(0);" title="Load more Recommended" ng-click="loadMore()">More..</a></li>
    <li class="loadmore tablet_adjust" ng-show="loadError"><p>Currently this program is not airing on any channel</p></li>
    <li class="loadmore" id="loadIndicator" ng-show="(loading)"><p>  </p></li>
  </ul>
</div>
<!-- / next-schedule -->

<div class="quotation" ng-controller="QuotationController" ng-hide="quote">
  <div class="list-friends">
    <p class="text_woi"> {{quote.forumtitle}}</p>
    <div class="bottom">
      <p class="title_pink">- {{quote.username}}</p>
    </div>
  </div>
</div>

<div class="recommendations" ng-controller="UserController" contextual-info ng-show="showTips">
  <div class="recClose" ng-click="closePrompt()">×</div>
  <h6>Get better recommendations</h6>
  <div class="recPrompt">
    <div class="favTrigger">
      <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
        <i class="icon-favorite"></i>
      </a>

      <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
        <i class="icon-reminder"></i>
      </a>

      <a href="javascript:void(0)" class="btn btn-small btn-purple-blue">
        <i class="icon-watchlist"></i>
      </a>
    </div>
    <div class="favPrompt">
      Click Heart To Favorite
    </div>
    <div class="favPrompt">
      Click to set SMS/Email Reminders for your favorite programs
    </div>
    <div class="favPrompt">
      Click to add programs to your watchlist
    </div>
  </div>
</div>

<div class="similar-programmes" ng-controller="SimilarProgrammesController" ng-show="paginate.length> 0">
  <h6 class="subtitle">SIMILAR PROGRAMS</h6>
  <ul class="recommended">
    <li class="item animate bounceInDown clearfix" save-start-time="r" ng-repeat="r in paginate" watchable="r">
      <div ng-switch on="r.isrecommended">
        <div class="thumb" ng-switch-when="1" live-tooltip="Recommended">
          <div ng-show="r.isrecommended=='1'" class="favorite-ribbon"></div>
          <div class="wrapper">
            <img ng-src="{{r.imagefilepath}}" alt="{{r.programmename}}" />
          </div>
        </div>
        <div class="thumb" ng-switch-default>
          <div class="wrapper">
            <a href="#!/program/{{r.programmename}}" ng-click="EncodeUrlWithDash(r.programmename,$event,'programme',r.channelid,r.programmeid,r.starttime)" class= "clearfix"><img ng-src="{{r.imagefilepath}}" alt="{{r.programmename}}" /></a>
          </div>

          <div class="user-actions" ng-controller="UserController">

            <a live-tooltip='Add to Favorite'  ng-click='toggleFavorite(r, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:r.isfavorite == '1'}">
              <i class="icon-favorite"></i>
            </a>

            <a live-tooltip="Reminder Alerts"        ng-click='toggleReminder(r, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:r.isreminder == '1'}"  >
              <i class="icon-reminder"></i>
            </a>

            <a live-tooltip='Add to Watchlist' ng-click='addToWatchlist(r, $event)'  class='btn btn-small btn-purple-blue' ng-class="{active:r.iswatchlist == '1'}">
              <i class="icon-watchlist"></i>
            </a>
          </div>
        </div>
      </div>
      <h2><a href="#!/program/{{r.programmename}}" ng-click="EncodeUrlWithDash(r.programmename,$event,'programme',r.channelid,r.programmeid,r.starttime)">{{r.programmename}} </a></h2>
      <ul class="info">
        <li class="channel-label">{{r.starttime|featuredVideoTime}}</li>
        <li><a href="#!/channel/{{r.channelname}}" ng-click="EncodeUrlWithDash(r.channelname,$event,'channel',r.channelid,r.programmeid)">{{r.channelname}}</a></li>
      </ul>
    </li>
    <li class="loadmore" ng-show="showMore==true"><a href="javascript:void(0);" title="Load more Recommended" ng-click="loadMore()">More..</a></li>
  </ul>
</div>
<!-- / similar-movies -->

<!-- Availalbe In Box -->
<div class="available-in" ng-show="showAvailableIn" ng-controller="AvailableInController">
  <h6 class="subtitle">AVAILABLE IN</h6>

  <ul class="list-available">
    <li ng-repeat="channel in availableIn">
      <a href="{{channel.storeurl}}"><img ng-src="{{channel.logofileurl}}" alt="{{channel.storeinformation}}" /></a>
    </li>
  </ul>
</div>

<!-- / availableIn -->

<div class="friends" ng-show="friends.length>0" ng-controller="FriendsController">
  <h6 class="subtitle">FRIENDS</h6>

  <ul class="list-friends">
    <p class="title_pink">{{friends[0].username}}<span class="text_woi"><span ng-show="friends.length - 1 > 0"> and {{friends.length-1}} others</span> liked it</span></p>
    <li class="item animate bounceInDown clearfix friend_inline_list" ng-repeat="r in paginate" >
      <div class="thumb" css-bg-image="../assets/img/cast-default.png">
        <div css-bg-image="{{r.userimage | filterDefaultImage}}" title="{{r.username}}">&nbsp;</div>
      </div>
    </li>
  </ul>
  <p class="loadmore" ng-show="showMore">
    <a href="javascript:void(0);" title="Load more Recommended" ng-click="loadMore()">More..</a>
  </p>
</div>
<!-- / friends -->

<!-- Share with friends -->
<!-- <div class="friends" ng-controller="FbShareController" style="margin-top:30px;" ng-show="userLogged=='on'" > -->
<div class="friends" style="margin-top:30px;" ng-show="userLogged=='on'" >

  <ul class="list-friends list_share_friends">
    <li class="logo" ng-click="shareLinkOnFb()"></li>
    <li class="logo_text" ng-click="shareLinkOnFb()">Share with Friends</li>
    <li class="clearfix"></li>
  </ul>

</div>

<div class="feed fb" ng-show="showFacebook==true && paginateFb.length > 0">
  <ul>
    <li class="colorfull">
      <h6 class="subtitle">FB newsfeed</h6>
      <a ng-click="loadMoreFb()" style="cursor:pointer">{{fbText}}</a>
    </li>

    <li class="item clearfix" ng-repeat="post in paginateFb">
      <div class="thumb">
        <div class="wrapper">
          <img ng-src="{{facebookProfilePic}}">
        </div>
      </div>

      <div class="info">
        <span class="account-name">{{post.from.name}}</span>

        <!-- <div class="post">
          {{post.message}}
          <br/>
          <img ng-src="{{post.picture}}">
        </div>  -->
        <div class="post" ng-bind-html>
          <span ng-bind-html-unsafe="post.message | replaceLinks"></span><br/>
          <img ng-src="{{post.picture}}">
        </div>
        <br/>
        <span class="time">{{post.updated_time|facebookTime}}</span>
      </div>
    </li>
  </ul>

</div>
<!-- / feed facebook -->

<div class="feed twitter" ng-show="showTwitter==true && paginateTwitter.length > 0">
  <ul>
    <li class="colorfull">
      <h6 class="subtitle">Twitter</h6>
      <a ng-click="loadMoreTweets()">{{twitterText}}</a>
    </li>

    <li class="item clearfix" ng-repeat="post in paginateTwitter">
      <div class="thumb">
        <div class="wrapper">
          <img ng-src="{{post.user.profile_image_url}}">
        </div>
      </div>
      <div class="info">
        <span class="account-name">{{post.user.name}} </span>
        <div class="post" ng-bind-html>
          <span ng-bind-html-unsafe="post.text | replaceLinks"></span>
        </div>
        <span class="time">{{post.created_at|twitterTime}}</span>
      </div>
    </li>
  </ul>
</div>
</aside>
<!-- / SIDEBAR -->

</section>